.modalDialogTitle {
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modalUIContent {
    background: #f2f5f7 url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x !important;
    color: #362b36;
}