<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InformationLinkBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sk.control.sivgk.srvdev.ru/service/1/information"
                binding="basicHttpBinding" bindingConfiguration="InformationLinkBinding"
                contract="SivgkService.InformationLinkPortType" name="InformationLinkPort" />
        </client>
    </system.serviceModel>
</configuration>
